@inject IHtmlLocalizer<CompozrStrings> CompozrLocalizer
@inject IHtmlLocalizer<CompozrMenuBarStrings> CompozrMenuBarLocalizer

<div class="navbar navbar-inverse navbar-fixed-bottom compozr-placeholder">
    <span class="navbar-brand"><span class="fa fa-spinner fa-spin"></span></span>
</div>
<div id="layout-compozr" style="display: none;">
    <div class="navbar navbar-inverse navbar-fixed-bottom" role="menubar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#layout-compozr .navbar-collapse">
                    <span class="sr-only">@CompozrLocalizer["ToggleMenuBar"]</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">C</span>
                <ul class="nav navbar-nav navbar-left list-inline visible-xs">
                    @RenderSection("leftHeaderNav", required: false)
                    <li data-compozr-menu-item="Save" data-compozr-menu-item-alias><a title="@CompozrMenuBarLocalizer["Save"]"><span class="glyphicon glyphicon-floppy-save"></span></a></li>
                    <li data-compozr-menu-item="Revert" data-compozr-menu-item-alias><a title="@CompozrMenuBarLocalizer["Revert"]"><span class="glyphicon glyphicon-floppy-remove"></span></a></li>
                </ul>
            </div>
            <nav class="navbar-collapse collapse">
                <h2 class="sr-only">@CompozrLocalizer["MenuBar"]</h2>
                <ul class="nav navbar-nav navbar-left">
                    @RenderSection("leftNav", required: false)
                    <li data-compozr-menu-item="Save"><a title="@CompozrMenuBarLocalizer["Save"]"><span class="glyphicon glyphicon-floppy-save"></span></a></li>
                    <li data-compozr-menu-item="Revert"><a title="@CompozrMenuBarLocalizer["Revert"]"><span class="glyphicon glyphicon-floppy-remove"></span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @RenderSection("rightNav", required: false)
                    <li class="dropdown">
                        <form action="/Compozr/vi/Account/LogOut" class="navbar-right" id="logoutForm" method="post">
                        <input name="__RequestVerificationToken" type="hidden" value="ht-Fhb2why_6LAj0HqvzMe1s6rblcWOTX87_weit1TwL5btlUqBUfEr2GhPJxkP8BOtPkod_Yc6x_boX3kDrg4GaxqBEiDTbmCd0UWLeoDjIszQmXnWWenRsyi2eYT0gzK4aLHNfNOB7Oj5axKctxw2" />
                        </form>
                        <a title="admin" href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Compozr/vi/Help"><span class="fa fa-question-circle"></span> @CompozrMenuBarLocalizer["Help"]</a></li>
                            <li><a href="/Compozr/vi/Account/Manage"><span class="fa fa-gear"></span> @CompozrMenuBarLocalizer["ManageMyAccount"]</a></li>
                            <li><a href="/Compozr/vi/Account/ManageUserAccounts"><span class="fa fa-users"></span> @CompozrMenuBarLocalizer["ManageOtherAccounts"]</a></li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="fa fa-sign-out"></span> @CompozrMenuBarLocalizer["LogOut"]</a></li>
                        </ul>
                    </li>
                </ul>
                @RenderSection("centerNav", required: false)
            </nav>
        </div>
    </div>
    @RenderBody()
    <div class="compozr-error-messages navbar-fixed-top container">
    </div>
</div>
